@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Open+Sans&family=Oswald:wght@300&family=Poppins:wght@300;400;500&display=swap');





:root {
    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --boder: .2rem solid rgba(0, 0, 0.1);
    --outline: 0.1rem solid rgba(0, 0, 0.1);

}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);

}

.heading span {
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);

}

/* search box */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

.btn {
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--green);
    color: #fff;

}

/* nav bar and grocery */
.header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: white;
    box-shadow: var(--box-shadow);
}



/* navbar size */
.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--green);


}

*/

/* logo */
.header .logo i {
    color: var(--green);
    font-size: 45px;
}

.header .navbar a {
    font-size: 3rem;
    margin: 0 1rem;
    color: var(--black);
}

/* navbar color */
.header .navbar a:hover {
    color: var(--green);
}

/* icons for user menu etc */
.header .icons div {
    border: 0 solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover {
    background: var(--green);
    color: white;
}

.header .search-form {

    position: absolute;
    top: 120%;
    right: -110%;
    width: 40rem;
    height: 4.5rem;
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    padding: 0 1.5rem;
    font-size: 20px;


}

.header .search-form.active {

    right: 2rem;
    transition: .1s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 2rem;
    color: var(--black);
    padding: 0 1.5rem;

}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}


.header .search-form label:hover {
    color: var(--green);
}




#menu-btn {
    display: none;
}

.header .navbar.active {
    right: 2rem;
    transition: .1s linear;
}


.header .shopping-cart {

    position: absolute;
    top: 110%;
    right: -110%;

    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: white;


}

.header .shopping-cart.active {
    right: 2rem;
    transition: .1s linear;
}


.header .shopping-cart .box {

    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;

}

.header .shopping-cart .box img {
    height: 10rem;

}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);

}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--green);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;

}

.header .shopping-cart .box .content .quantity {

    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;

    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.header .login-form {
    width: 35rem;
    position: absolute;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;


}

.header .login-form.active {
    right: 2rem;
    transition: .1s linear;
}


.header .login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box {
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    width: 100%;

}

.header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);

}

.header .login-form p a {

    color: var(--green);
    text-decoration: underline;

}

/* styling of section-banner */
section {
    padding: 2rem 9%;

}

.home {
    display: flex;
    justify-content: center;
    background: url(../image/banner11-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;

}

.home .content {
    text-align: center;
    width: 60rem;


}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;

}

.home .content h3 span {
    color: var(--green);
    font-size: 3rem;

}

.home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;

}

/* styling osection */

/* features section */

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}

.features .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);


}

.features .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;

}

.features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);

}

.features .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;


}

/* features  section */
/* product section */



.products .product-slider {

    padding: 1rem;


}

.products .product-slider:first-child {

    margin-bottom: 2rem;



}

.products .product-slider .box {
    /* margin: 0 2rem; */
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;



}


.products .product-slider .box:hover {


    box-shadow: 1px 1px 10px 4px var(--green);

}

.products .product-slider .box img {
    height: 20rem;

}

.products .product-slider .box h1 {
    font-size: 2.5rem;
    color: var(--black);

}

.products .product-slider .box .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;

}

.products .product-slider .box .stars i {
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;

}

/* product section */
/* caetgories section */
.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;

}

.categories .box-container .box {
    padding: 3rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;


}

.categories .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}


.categories .box-container .box img {
    margin: 1rem 0;
    height: 15rem;

}

.categories .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8rem;

}

.categories .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8rem;
    padding: 1rem 0;


}



/* caetgories section */
/* customer review section */

.review .review-slider {
    padding: 1rem;
}

.review .review-slider .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.review .review-slider .box img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;


}

.review .review-slider .box p {
    padding: 1rem;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;

}

.review .review-slider .box h3 {
    font-size: 2.2rem;
    padding-bottom: .5rem;
    color: var(--black);

}

.review .review-slider .box .stars i {
    color: orange;
    font-size: 1.7rem;
}

/* customer review section */
/* blods section */

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;

}

.blogs .box-container .box {
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;

}

.blogs .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;

}

.blogs .box-container .box .content {
    padding: 2rem;

}

.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--boder);


}

.blogs .box-container .box .content .icons a {
    color: var(--light-color);
    font-size: 1.5rem;

}

.blogs .box-container .box .content .icons a:hover {
    color: var(--black);


}

.blogs .box-container .box .content .icons a i {
    color: green;
    font-size: 1.5rem;

}

.blogs .box-container .box .content h3 {
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;


}

.blogs .box-container .box .content p {
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
}

/* blods section */
/* footer sectio */

.footer {
    background: #fff;

}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;

}

.footer .box-container .box h3 i {
    color: var(--green);

}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;

}

.footer .box-container .box .links i {

    color: var(--green);
    padding-right: .5rem;

}


.footer .box-container .box .links:hover i {

    padding-right: 2rem;

}

.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;

}


.footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
    

}

.footer .box-container .box .share a:hover {
    background: var(--green);
    color: #fff;

}

.footer .box-container .box .email {
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    width: 100%;


}
.footer .box-container .box .payment-img {
    margin-top: 2rem;
    height: 3rem;

}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
padding-top: 1.5rem;
font-size: 2rem;
color: var(--black);
border-top: var(--boder);
}

.footer .credit span {
    color: var(--green);
}

/* footer sectio */


/* 
media queires
*/
@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: #fff;


    }


    .header .navbar a {
        font: 2rem;
        margin: 2rem 2.5rem;
        display: block;

    }

}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }
    .footer {
        text-align: center;
    }
}
